<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    
    <h1>Registro de nuevo usaurio</h1>
    <form action="/registroU" method="post">
    
        nombres:
        <input type="text" name="nom" id="nom"><br><br>
        apellidos:
        <input type="text" name="ape" id="ape"><br><br>
        email:
        <input type="email" name="ema" id="ema"><br><br>
        contraseña:
        <input type="password" name="contra" id="contra"><br><br>
        <input type="submit" value="Registrar">
        
    </form>

    

</body>
</html>