<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Historias Clínicas</title>
    <link rel="stylesheet" href="/styles-historia.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <h2>Bienvenido a Aramedic</h2>
        </div>
    </div>

    <div class="container">
        <h1>Listado de Historias Clínicas</h1>
        <div class="search-bar">
            <input type="text" placeholder="Buscar por Dni o Nombre y Apellido..." id="buscar-historia">
            <button id="nuevo-btn">Nueva Historia Clínica</button>
        </div>

        <table class="styled-table">
            <thead>
                <tr>
                    <th>DNI</th>
                    <th>Nombres y Apellidos</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Edad</th>
                    <th>Género</th>
                    <th>Estado Civil</th>
                    <th>Ocupación</th>
                    <th>Teléfono</th>
                    <th>Correo Electrónico</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>7542019</td>
                    <td>Juan Pérez</td>
                    <td>10-05-1980</td>
                    <td>44</td>
                    <td>Masculino</td>
                    <td>Casado</td>
                    <td>Ingeniero</td>
                    <td class="telefono">985655741</td>
                    <td>juan.perez@example.com</td>
                    <td class="action-buttons">
                        <button class="ver">Ver</button>
                        <button class="editar">Editar</button>
                        <button class="eliminar">Eliminar</button>
                    </td>                    
                </tr>
                <tr>