<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../login/styles_login.css"/>

    <!-- Iconos -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Clínica ARAMEDIC E.I.R.L.</title>
    <link rel="icon" href="/imgs/logo.ico">

</head>
<body>
    <section class="container_forms">
        <div class="form login">
            <div class="form-content">
                <header>Iniciar Sesión</header>

                <form action="#">
                    <div class="field input-field">
                        <input type="username" placeholder="Username" class="input">
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Password" class="input">
                        <i class="bx bx-hide eye-icon"></i>
                    </div>

                    <div class="form-link">
                        <a href="#" class="forgot-pass">¿Olvidaste tu contraseña?</a>
                    </div>

                    <div class="field button-field">
                        <button>Logeate</button>
                    </div>

                    <div class="form-link">
                        <span>¿No tienes una cuenta?<a href="#" class="forgot-pass">Regístrate</a></span>
                    </div>

                </form>
            </div>

            <div class="line"></div>
            
        </div>
    </section>
</body>
</html>